@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scrollbar styles */

::-webkit-scrollbar {
    width: 8px;
    /* Adjust width for vertical scrollbar */
    height: 8px;
    /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    /* Set color of the thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    /* background-color: #f0f0f0; */
    background-color: #000000;
    /* Track color */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
    /* Hover state color */
}

.klinecharts-pro-period-bar>.symbol {
    display: none !important;
}

.klinecharts-pro {
    --klinecharts-pro-hover-background-color: rgba(22, 119, 255, 0.15) !important;
    --klinecharts-pro-background-color: #151517 !important;
    --klinecharts-pro-popover-background-color: #1c1c1f !important;
    --klinecharts-pro-text-color: #F8F8F8 !important;
    --klinecharts-pro-text-second-color: #929AA5 !important;
    --klinecharts-pro-border-color: #292929 !important;
}